@import "../../global.scss";

.portfolio-wrapper{
    padding: 100px 0px;
    
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.98)), url('https://images.unsplash.com/photo-1465799522714-8eb0e6fccf73?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2026&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    h2{
        text-align: center;
        font-size: 72px;
        background: -webkit-linear-gradient(rgb(255, 255, 255), #d79bff , #2a009f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 400;
        padding-bottom: 100px;
    }
    .portfolio-inner{
        display: flex;
        flex-direction: row;
        justify-content: center;
        // max-width: 1600px;
        margin: auto;

        .portfolio-img{
            width: 50vw;
            // height: 500px;/assets/website designed by best webdevelper.png
            max-height: 800px;
            overflow-y: scroll;
            img{
                width: 100%;
            }
        }
        .portfolio-img::-webkit-scrollbar{
            display: none;
          }
        .project-list{
            color: white;
            font-size: 52px;
            li{
                border-top: 2px solid white;
                margin-bottom: 10px;
            }
        }

    }

}


.cards {
    display: flex;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
    max-width: 1500px;
    justify-content: center;
    gap: 2rem;
  }
  
  .card {
    position: relative;
    display: block;
    height: 100%;  
    min-height:320px;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    max-width: 375px;
    background-color: whitesmoke;
  }
  
  .card__image {      
    width: 100%;
    height: auto;
    margin: auto;
  }
  
  .card__overlay {
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
    background-color: rgba(255, 255, 255, 0.9);
  }
 
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
   .card:hover .card__header{
    background-color: rgba(255, 255, 255, 0);
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  :root {
    --surface-color: #fff;
    --curve: 40;
  }
  
  .card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;           
  }
  
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
  }
  
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
  .card__status {
    font-size: .8em;
    color: #a79ea2;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #af9aa4;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    // -webkit-line-clamp: 3;
    // overflow: hidden;
  }    

  .tech-skills-section{
    max-width: 800px;
    text-align: center;
    padding: 2rem;
    padding-top: 100px;
    margin: auto;
    h3{
      color: white;
      margin-bottom: 2rem;
      font-size: 1.5rem;
      
    }
    ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left:0;
      li{
        list-style-type: none;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        margin: 5px;
        border-radius: 20px;
        background-color: rgba(45, 212, 191, 0.1);
        line-height: 1.25rem;
        font-size: 0.9rem;
        color: rgb(94, 234, 212);
      }
    }
  }