@import "../../global.scss";

.works {
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  

  .skills{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 15px;
   
  }
  li{
   justify-content: space-evenly;
   padding-top: 5px;
   list-style: none;
   padding-left: 10px;

   img{
    vertical-align:middle
   }
  }
 
  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;

    @include mobile {
        bottom: 5px;
    }

    &.left {
      left: 100px;
      transform: rotateY(180deg);
    }

    &.right {
      right: 100px;
    }
  }

  .slider {
    height: 75%;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;
    

    @include mobile {
      height: 95%;
      // flex-direction: column;
      // justify-content: center;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      
      @include mobile {
       padding-bottom: 0px;
      }

      .item {
        width: 700px;
        height: 90%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: black 5px 5px 10px;


        @include mobile {
          width: 80%;
          height: 55%;
          margin: 15px 0;
        }

        .left {
          flex: 6;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          @include mobile{
            flex: 100%;
          }

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            @include mobile{
              align-items: center;
              justify-content: center;
            }

            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgb(245, 179, 155);
              display: flex;
              align-items: center;
              justify-content: center;

              @include mobile {
                width: 25px;
                height: 25px;
              }

              img {
                width: 25px;

                @include mobile {
                  width: 15px;
                }
              }
            }
            h2 {
              font-size: 20px;

              @include mobile{
                font-size: 16px;
              }
            }
            p {
              font-size: 13px;
              @include mobile{
                // display: none;
              }
            }
            span {
              font-size: 12px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        .right {
          flex: 6;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          img {
            width: 400px;
            transform: rotate(-10deg);
            @include mobile{
              display: none;
            }
          }
        }
      }
    }
  }

}